.container {
  display: grid;
  flex: 1;
  grid-template-columns: auto;
  grid-template-rows:  50px 50px auto 6rem;
  grid-template-areas: 
    "modal"
    "header"
    "content"
    "footer"
}

.content {
  grid-area: content;
  display: flex;
}

.covidButton {
  margin-left: .65rem;
}
