.header {
  border-bottom: 2px solid #000000;
  background-color: #ffffff;
}

.navBar {
  flex-direction: row !important;
  width: 45%;
  justify-content: space-evenly;
}

.actionLink {
  color: #000000 !important;
}

.actionLink:hover {
  text-decoration: underline !important;
}
