@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');

// Fonts
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Media views
$mobile: "(max-width: 468px)";
$tablet: "(max-width: 768px)";
$laptop: "(max-width: 1280px) and (min-width: 769px)";

// Mixins
@mixin media($queryString) {
  @media #{$queryString} {
    @content;
  }
}


/************************************************
GENERAL STYLES
************************************************/

html, body, .App {
  height: calc(100% - 60px);
  margin: 0;
  font-family: $lato;
  background: #fafafa;
}

body {
  background-color: #fafafa !important;
}


/************************************************
COVID ALERT
************************************************/

.alert {
  text-align: center;
  background: rgba(255,200,87, 0.8) !important;
  margin: 0 !important;
  font-family: $open-sans;

  .covidButton {
    margin-left: 0.65rem;
  } // covidButton
} // alert


/************************************************
MAIN PAGE
************************************************/

.App {
  text-align: center;
  background: #fafafa;

    @include media($mobile) {
      height: auto;
    }// App mobileview
  
  .welcomeMessage {
    height: 60%;
    width: 60%;
    margin: 0 auto;

    @include media($mobile) {
      height: auto;
      width: 80%;
      margin: 0 auto;
      padding: .25rem;
    }// App welcomeMessage mobileview

    @include media($laptop) {
      width: 100%;
    }// App laptopview
  }// App welcomeMessage
  
  .contactBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    
    @include media($mobile) {
      margin-top: 0;
      flex-direction: column;
    }// App contactBox mobileview
    
    .contactCard {
      height: 11.375rem;
      width: 26rem;
      padding: 0 2.25rem;
      border: 2px solid #000000;
      box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
      background: #FFFFFF;
      
      @include media($mobile) {
        padding: 0;
        width: 80%;
        height: 10.625rem;
        margin: .25rem auto;
      }// App contactCard mobileview

      @include media($laptop) {
        width: auto;
        margin: 0 auto;
        height: 10rem;
      }

      h4 {
        font-style: italic;
        font-weight: 300;
      }// contactBox contactCard h4

      .cardTitle {
        border-bottom: 1px solid #000000;
        width: 100%;
        margin-bottom: 1.5rem;

        @include media($laptop) {
          margin-bottom: .5rem;
        }
      }// App contactBox contactCard cardTitle

    }// contactBox contactCard
  }// contactBox
}// App


/************************************************
PORTFOLIO
************************************************/

.main-gallery {
  height: calc(100% - 60px);
  text-align: center;
  min-height: 100%;
  position: relative;

  @include media($mobile) {
    height: 100%;
    background: #000000;

  //   img {
  //     margin-top: 4rem;
  //     max-width: 100%;
  //     max-height: 100%;
  //   } // main-gallery mobileview img
  } // main-gallery mobileview
} // main-gallery


/************************************************
SERVICES PAGE
************************************************/

.servicesPage {
  font-family: $lato;

  .servicesBox {
    width: 65%;
    height: 37.5rem;
    margin: 7rem auto 0;
    overflow: auto;

    @include media($mobile) {
      margin-top: 2rem;
    }// servicesBox mobileview

    @include media($laptop) {
      width: auto;
      height: auto;
      margin: 0;
    }

    .servicesList {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      align-items: center;

      li {
        margin: 0.35rem;
        padding: 0 .25rem;
        border: 2px solid #333333;
        box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
        text-align: center;
        height: 7.5rem;
        width: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        background: #FFFFFF;

        h5 {
          margin: 0 0 .25rem 0;
          font-family: $open-sans;
        }// servicesPage servicesBox servicesList li h5
      }// servicesPage servicesBox servicesList li
    }// servicesPage servicesBox servicesList
  }// servicesPage servicesBox
}// servicesPage


/************************************************
CONTACT PAGE
************************************************/

.contactPage {

  font-family: $lato;

  @include media($mobile) {
    height: auto;

    .footer {
      position: absolute;
    }// contactPage mobileview footer
  }// contactPage mobileview

  .contactBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media($laptop) {
      flex-direction: row;
      height: 100%;
    }

    .contactCard {
      margin: 2.25rem 0;
      height: 11.375rem;
      width: 26rem;
      padding: 0 2.25rem;
      border: 2px solid #000000;
      box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
      text-align: center;
      background: #FFFFFF;
      
      @include media($laptop) {
        width: auto;
        margin: 3.25rem 1.25rem 0;
      }

      @include media($mobile) {
        padding: 0;
        width: 80%;
        height: 10.625rem;
        margin: .25rem auto;
      }// contactPage contactCard mobileview


      h4 {
        font-style: italic;
        font-weight: 300;
      }// contactPage contactBox contactCard h4

      .cardTitle {
        border-bottom: 1px solid #000000;
        width: 100%;
        margin-bottom: 1.5rem;
      }// contactPage contactBox contactCard cardTitle
    }// contactPage contactBox contactCard
  }// contactPage contactBox
}// contactPage


/************************************************
HEADER
************************************************/

nav {
  background: #FFFFFF !important;
  border-bottom: 2px solid #000000;
}

/************************************************
FOOTER
************************************************/

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 2px solid #333333;
  background: #FFFFFF !important;

  .footerIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: .5rem;
    } // footer footerIcons a
  } // footer footerIcons
} // footer